<h1>Student's Home Page</h1>
ようこそ <%= @student_email %> さん
<p>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>月</td>
							<td>火</td>
							<td>水</td>
							<td>木</td>
							<td>金</td>
							<td>土</td>
						</tr>
					</thead>
					<tbody>
						<% for period in 1..7 do %>
							<tr>
								<% for day in 1..6 do %>
									<% found = false %>
									<% if @student_lectures.empty? %>
										<td> </td>
									<% else %>
										<%  @student_lectures.each do |lecture| %>
											<% if (lecture.period == period) &&
													(
													( lecture.day == "月" && day == 1 ) ||
													( lecture.day == "火" && day == 2 ) ||
													( lecture.day == "水" && day == 3 ) ||
													( lecture.day == "木" && day == 4 ) ||
													( lecture.day == "金" && day == 5 ) ||
													( lecture.day == "土" && day == 6 ) 
													) %>
												<% found = true %>
												<td> <%= lecture.name %> </td>
											<% end %>
										<% end %>
										<% if found == false %>
											<td></td>
										<% end %>
									<% end %>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
				<div class="row">
					<div class="col-md-4">
						集中講義
					</div>
					<div class="col-md-8">
						<table class="table table-bordered">
							<% if @student_intensive_lectures.empty? %>
							<% else %>
								<% @student_intensive_lectures.each do |lecture| %>
									<tbody>
										<tr>
											<td>
												<%= lecture.name %>
											</td>
										</tr>
									</tbody>
								<% end %>
							<% end %>
						</table>
					</div>
				</div>
			</div>
			
			<div class="col-md-1">
				<div class="row">
					<%= button_to "一般講義登録", {controller: 'student_lectures', action: 'new'}, {method: :get, class: "btn btn-default"} %>
					<%= button_to "集中講義登録", {controller: 'student_intensive_lectures', action: 'index'}, {method: :get, class: "btn btn-default"} %>
					<%= button_to "集中講義取り消し", {controller: 'student_intensive_lectures', action: 'deleteindex'}, {method: :get, class: "btn btn-default"} %>
				</div>
				<div class="row">
					<br>
					<br>
					<br>
					<br>
					<br>
					<%= button_to "ログアウト", {controller: 'auth', action: 'logout'}, {method: :get, class: "btn btn-default"}%>
				</div>
			</div>
		</div>
	</div>
</p>