<h1><%=@lecture%> 受講者各位</h1>

<br>
授業わかるんシステムからの通知です。<br>
<br>
<%=@lecture%> の開講日に関するお知らせになります。<br>
<br>
-------------------------------------------<br>
<br>
<br>
■内容<br>
<br>
<%=@lecture%> の <%=@event%> <br>
<br>
■日時<br>
<br>
日時：<%=@date%> <%=@period%><br>
<br>
<br>
-------------------------------------------<br>
<br>
<br>
お知らせは以上になります。<br>
ご確認ください。<br>