<h1>SendEmail#report</h1>

<%=@lecture%> 受講者各位<br>
<br>
授業わかるんシステムからの通知です。<br>
<br>
<%=@lecture%> のレポートに関するお知らせになります。<br>
<br>
-------------------------------------------<br>
<br>
<br>
■レポート名<br>
<br>
<%=@reportname%><br>
<br>
■期限<br>
<br>
日時：<%=@date%><br>
<br>
<br>
■レポート詳細<br>
<br>
<%=@content%><br>
<br>
-------------------------------------------<br>
<br>
<br>
お知らせは以上になります。<br>
ご確認ください。