<h2>パスワード変更</h2>

<%= form_for(resource, as: resource_name, url: admin_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <!-- <div class="field">
    メールアドレス<br />
    <%= f.email_field :email, autofocus: true %>
  </div> -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <br />現在のパスワード<!--<%= f.label :current_password %>--> <br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <br />新しいのパスワード<em>　<%= @minimum_password_length %> 文字以上</em><br /><!--<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />-->
    <%= f.password_field :password, autocomplete: "off" %>
    <!--<% if @minimum_password_length %>
      <br />
      <em>* <%= @minimum_password_length %> 文字以上必要です</em>
    <% end %>-->
  </div>

  <div class="field">
    確認用パスワード<br /><!--<%= f.label :password_confirmation %><br />-->
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


  <br />
  <div class="form-inline">
    <div class="actions">
      <%= f.submit "パスワード変更", class: "btn btn-outline-secondary"%>
    </div>
    <div style="padding-left:50px">
        <%= link_to "戻る", admin_homes_path, class: "btn btn-outline-secondary"%>
    </div>
  </div>
<% end %>


