<h1>教員機能一覧</h1>
<h1>ようこそ、<%= @teacher %>さん</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      担当講義:
      <%if @lectures.count == 0 %>
        <p>登録されている講義はありません。</p>
      <%else%>
      <% @lectures.each do |lecture|%>
        <p><%= lecture.name %></p>
      <%end%>
      <%end%>

    </div>
    <div class="col-md-6">
      <%= button_to "開講日変更", {controller: 'teacher_lecture_dates', action: 'new'}, {method: :get, class: "btn btn-primary"} %>
      <%= button_to "レポート設定", {controller: 'teacher_reports', action: 'new'}, {method: :get, class: "btn btn-primary"} %>
      <%= button_to "レポート表示・削除", {controller: 'teacher_reports', action: 'index'}, {method: :get, class: "btn btn-primary"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>登録休講日:
      <%if @cancel_lectures.count ==0 %>
        <p>登録されている休講はありません。</p>
      <%else%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>講義名</th>
              <th>月</th>
              <th>日</th>
              <th>限</th>
            </tr>
          </thead>
          <tbody>
            <% @cancel_lectures.each do |cancel| %>
            <tr>
              <th><%= cancel.lecture.name %></th>
              <th><%= cancel.cancel_date.strftime("%m") %></th>
              <th><%= cancel.cancel_date.strftime("%d") %></th>
              <th><%= cancel.period %></th>
            </tr>
            <%end%>
          </tbody>
        <%end%>
      </table>
      </p>

      <p>登録補講日:
      <%if @supplement_lectures.count == 0 %>
        <p>登録されている補講はありません。</p>
      <%else%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>講義名</th>
              <th>月</th>
              <th>日</th>
              <th>限</th>
            </tr>
          </thead>
          <tbody>
            <% @supplement_lectures.each do |supplement| %>
            <tr>
              <th><%= supplement.lecture.name %></th>
              <th><%= supplement.supplement_date.strftime("%m") %></th>
              <th><%= supplement.supplement_date.strftime("%d") %></th>
              <th><%= supplement.period %></th>
            </tr>
            <%end%>
          </tbody>
        <%end%>
      </table>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">

    </div>
    <div class="col-md-3">
      <%= button_to "ログアウト", {controller: 'auth', action: 'logout'}, {method: :get, class: "btn btn-primary"}%>
    </div>
  </div>
</div>
