<%= form_for @staff, url: {action: :create} do |f| %>
<h1>事務員の登録</h1>

<% if @staff.errors.any? %>
<div>
    <% @staff.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
</div>
<% end%>

<% if Staff.count > 0 %>
    <p>
        既に事務員は登録されているため新たに登録することができませんでした。<br />
        ※新たに登録する場合既に登録されている事務員を削除してから行ってください。
    </p>
<% else %>
    <div>
        <%= f.label "メールアドレス" %><br />
        <%= f.text_field :email %>
    </div>

    <br />
    <div>
            <%= f.submit "OK", class: "btn btn-outline-secondary", data: {confirm: "登録しますか?"}%>
    </div>
<% end %>
<br />
<div>
    <%= link_to "戻る", :back, class: "btn btn-outline-secondary"%>
</div>

<% end %>