<%= form_for @staff, url: {action: :create} do |f| %>
<h1>事務員の登録</h1>

<% if @staff.errors.any? %>
<div>
    <% @staff.errors.messages.values.each do |msg| %>
        <% msg.each do |m| %>
        <li><%= m %></li>
        <% end %>
    <% end %>
</div>
<% end%>

<% if Staff.count > 0 %>
    <p>
        既に事務員は登録されているため新たに登録することができませんでした。<br />
        ※新たに登録する場合既に登録されている事務員を削除してから行ってください。
    </p>
    <%= link_to "戻る", admin_homes_path, class: "btn btn-outline-secondary"%>
<% else %>
    <div>
        <%= f.label "メールアドレス" %><br />
        <%= f.text_field :email %>
    </div>

    <br />
    <div class="form-inline">
        <div>
            <%= f.submit "OK", class: "btn btn-outline-secondary"%>
        </div>
        <div style="padding-left:50px">
            <%= link_to "戻る", admin_homes_path, class: "btn btn-outline-secondary"%>
        </div>
    </div>
<% end %>

<% end %>