<h1>開講日変更</h1>
<% if @lectures.count <= 0%>
  <h2>担当している講義がありません。</h2>
<%else%>
  <% if @date.errors.any? %>
  <div id="error_explanation">
  <% @date.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
      <% end %>
  </div>
  <%end%>
<%= form_for @date, url:'/teacher_lecture_dates' do |f| %>
  <div class=container>
    <div class="row">
      <div class="col-md-12">

        講義選択:
        <% @lectures.each do |lecture| %>
          <p><label> <%=f.radio_button :lecture, lecture.name %><%= lecture.name %> </label></p>
        <%end%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>開講日設定:</p>

        <p><%= f.select :cancel_date_previous_change, [["休講", "休講"], ["補講", "補講"]], class: 'form-control', prompt: '選択してください。' %></p>

        <p><%= f.label :"日付" %><br>
          <p><%= f.text_field :cancel_date, id: 'datepicker' %></p>

        <p> <%= f.label :"時限" %><br>
        <%= f.select :period, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"]], class: "form-control", prompt: '選択してください。'  %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">

      </div>
      <div class="col-md-3">
        <div class = 'submit'><%= f.submit 'OK', class: 'btn btn-primary', role:'button', data: { confirm: "開講日変更を登録しますか？"}%></div>
        <%end%>
        <%= button_to "戻る", {controller: 'teacher_homes', action: 'index'}, {method: :get, class: "btn btn-primary"} %>
      </div>
    </div>
  </div>
  <%end%>

  <script type = 'text/javascript'>
    $("#datepicker").datepicker({
    });

  </script>
