<h1>学年暦新規登録</h1>
<% if @calendar.errors.any? %>
<div id="error_explanation">
<% @calendar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</div>
<%end%>

<%=form_for @calendar,url:'/staff_academic_calendars'  do |f| %>
  日付:<%= f.text_field :no_lecture_date,id: 'datepicker' %>
  日付名:<%= f.text_field :date_name %>
  <%= f.submit '送信' %>
<%end%>

<script type = 'text/javascript'>
$(document).ready(function() {
    var dateFormat = 'yy-mm-dd'
  $("#datepicker").datepicker();
});
</script>

<p>Hello World!</p>
<script type="text/javascript">
$("p").css("color", "red");
</script>
