<h1>Student's page</h1>
<div>
	<% if @selected_lecture == 0 %>
	集中講義を選択してください。
	<%= button_to "戻る", {controller: 'student_intensive_lectures', action: 'deleteindex'}, {method: :get, class: "btn btn-default"}%>

	<% else %>
	
	以下の集中講義を削除してよろしいですか？
    <table class="table table-bordered">
		<thead class="thead">
	  		<tr>
	    		<th>講義名</th>
	    		<th>教員名</th>
	  		</tr>
		</thead>
	 	<tbody>
	    	<% lecture = Lecture.find_by(name: @selected_lecture) %>
		   		<tr>
		     		<td>
		     			<%= lecture.name %>
		     		</td>
		     		<td>
		      			<% teacher_lecture = TeacherLecture.find_by(lecture_id: lecture.id) %>
		       			<%= Teacher.find(teacher_lecture.teacher_id).name %>
		     		</td>
		   		</tr>
		</tbody>
	</table>
	<%= form_tag(student_intensive_lectures_delete_path, method: :post) do %>
	<%= hidden_field_tag :selected_lecture, @selected_lecture %>
	<%= submit_tag "OK" %>
	<% end %>
	
	<%= button_to "キャンセル", {controller: 'student_intensive_lectures', action: 'deleteindex'}, {method: :get, class: "btn btn-default"}%>
	<% end %>
</div>