<h1>講義一覧と検索</h1>
<div class="search">
<%= form_tag search_staff_operate_lectures_path,method: :get do %>
  学部:<%= select_tag :faculty,options_for_select(FACULTY), :include_blank => true %>
  学科:<%= select_tag :faculty,options_for_select(DEPARTMENT), :include_blank => true %>
  検索ワード:<%= text_field_tag :search,params[:search] %>
  <%= submit_tag "Go!" %>
<%end%>
</div>
<!--検索窓-->
<table class='table'>
  <thead class="thead-inverse">
    <tr>
      <th>講義名</th>
      <th>教員名</th>
      <th>曜日</th>
      <th>限</th>
    </tr>
  </thead>
  <tbody>
    <% @lectures.each do |lecture|%>
   <tr>
     <td><%= lecture.name %></td>
     <td>
       <% lecture.teachers.each do |a| %>
         <%= a.name%>
         <%end%>
     </td>
     <td><%= lecture.day %></td>
     <td><%= lecture.period %></td>
   </tr>
   <%end%>
 </tbody>
</table>
