<h1>レポート登録</h1>
  <% if @report.errors.any? %>
  <div id="error_explanation">
  <% @report.errors.full_messages.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
      <% end %>
  </div>
  <%end%>
<%= form_for @report, url:'/teacher_reports' do |f| %>
  <div class = 'margin_area'>
    <div class = 'form_area'>
      <p>講義:</p>
        <p><%= f.select :lecture, @lectures.map{|lecture| lecture.name} ,class:"form-control", prompt: '選択してください。' %>
      </p>

      <p>レポート名(20文字まで):</p>
      <p><%= f.text_field :title, maxlength: 20, size:45 %></p>

      <p>締切日時:</p>
      <p><%= f.text_field :deadline_date, id: 'datepicker' %></p>

      <p>内容(200文字まで):</p>
      <p><%= f.text_field :content, maxlength: 200, size: 100 %></p>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">

      </div>
      <div class="col-md-3">
        <div class = 'submit'><%= f.submit 'OK', class: 'btn btn-primary', role:'button', data: { confirm: "レポートを登録しますか？"}%></div>
        <% end %>
        <%= button_to "戻る", teacher_homes_path,{method: :get, class: "btn btn-primary"} %>
      </div>
    </div>
  </div>

  <script type = 'text/javascript'>
  	$("#datepicker").datepicker({
      minDate: 0
    });

  </script>
